@page "/sensor/readings"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject DhtSensorReadingsApiClient DhtSensorReadingsApiClient

<PageTitle>DHT sensor readings</PageTitle>

<h1>Temperature and Humidity readings from DHT sensor</h1>

@if (readings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature (C)</th>
                <th>Humidity (%)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reading in readings)
            {
                <tr>
                    <td>@reading.CreatedLocal.ToString()</td>
                    <td>@reading.Temperature</td>
                    <td>@reading.Humidity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DhtReading[]? readings;

    protected override async Task OnInitializedAsync()
    {
        readings = await DhtSensorReadingsApiClient.GetReadingsAsync();
    }
}
